In [0]:
import os
import pandas as pd
import nltk
import gensim
from gensim import corpora, models, similarities

In [7]:
df = pd.read_csv('shortjokes.csv', engine='python', encoding='utf-8', error_bad_lines=False)

Skipping line 211900: unexpected end of data

In [8]:
df.head()

   ID                                               Joke
0   1  [me narrating a documentary about narrators] "...
1   2  Telling my daughter garlic is good for you. Go...
2   3  I've been going through a really rough period ...
3   4  If I could have dinner with anyone, dead or al...
4   5     Two guys walk into a bar. The third guy ducks.

In [20]:
from nltk.tokenize import sent_tokenize, word_tokenize
#nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [0]:
tok_x = df.apply(lambda row: nltk.word_tokenize(row['Joke']), axis=1)

In [0]:
model = gensim.models.Word2Vec(tok_x, min_count=1, size=32)

In [34]:
model.most_similar('what')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `most_similar` (Method will be removed in 4.0.0, use self.wv.most_similar() instead).
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('why', 0.8039477467536926),
 ('where', 0.7524880170822144),
 ('which', 0.7315391302108765),
 ('how', 0.728007435798645),
 ('something', 0.7190676927566528),
 ('that', 0.7148941159248352),
 ('everything', 0.7095814943313599),
 ('if', 0.6890531182289124),
 ('nothing', 0.6851842403411865),
 ('whatever', 0.6838317513465881)]